{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>
            Hello,
            {# current_user 由 Flask-Login 定义，在视图函数和模板中自动可用 #}
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                Stranger
            {% endif %}
        </h1>
    </div>
    {# 写文章 #}
    <div>
        {% if current_user.can(Permission.WRITE) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    {# 分页列表 #}
{#    {% if pagination %}#}
{#        <div class="pagination">#}
{#            {{ macros.pagination_widget(pagination, '.index') }}#}
{#        </div>#}
{#    {% endif %}#}
    {# 文章列表 #}
    {% include "_posts.html" %}
    {# 分页列表 #}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}